@using Domain.ViewModels.Vendedores;
@model VendedorViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VendedorIndividual.NomeVendedor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VendedorIndividual.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VendedorIndividual.Senha)
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vendedor in Model.Vendedores)
                {
                    <tr>
                        <td>@vendedor.NomeVendedor</td>
                        <td>@vendedor.Login</td>
                        <td>@vendedor.Senha</td>
                        <td>
                            <a href="@Url.Action("SelecionarVendedor", new { IdVendedor = vendedor.IdVendedor })">Atualizar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>