@using Domain.ViewModels.Produtos;
@model ProdutoViewModel

@{
    <form class="form-control" method="post" action="@Url.Action("AdicionarProduto")">
        <fieldset>
            <legend>Adicionar Produto:</legend>
            <div>
                <label for="NomeProduto">Nome do Produto:</label>
                <input class="form-control" type="text" name="NomeProduto" value="" />
            </div>
            <div>
                <label for="IdVendedor">Nome do Vendedor:</label>
                <select class="form-control" name="IdVendedor">
                    <option value="">Selecione um Vendedor</option>
                    @{
                        if (Model.DropdownVendedores.Any())
                        {
                            foreach (var vendedor in Model.DropdownVendedores)
                            {
                                <option value="@vendedor.IdVendedor">@vendedor.NomeVendedor</option>
                            }
                        }
                        else
                        {
                            <option value="">...</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label for="IdMarca">Nome da Marca:</label>
                <select class="form-control" name="IdMarca">
                    <option value="">Selecione uma Marca</option>
                    @{
                        if (Model.DropdownMarcas.Any())
                        {
                            foreach (var marca in Model.DropdownMarcas)
                            {
                                <option value="@marca.IdMarca">@marca.NomeMarca</option>
                            }
                        }
                        else
                        {
                            <option value="">...</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label for="Preco">Preco:</label>
                <input class="form-control" type="number" name="Preco" value="" />
            </div>
            <br />
            <div>
                <label>&nbsp;</label>
                <input class="btn-primary submit rounded" type="submit" value="Submit" />
            </div>
            <br />
        </fieldset>
    </form>
}
