@using Domain.ViewModels.Vendedores
@model VendedorViewModel

@{
    <form class="form-control" method="post" action="@Url.Action("AtualizarVendedor")">
        <fieldset>
            <legend>Atualizar Vendedor</legend>
            <input class="form-control" type="hidden" name="IdVendedor" value="@Model.VendedorIndividual.IdVendedor" />
            <div>
                <label for="Login">Login:</label>
                <input class="form-control" type="text" name="Login" value="@Model.VendedorIndividual.Login" />
            </div>
            <div>
                <label for="NomeVendedor">Nome do Vendedor:</label>
                <input class="form-control" type="text" name="NomeVendedor" value="@Model.VendedorIndividual.NomeVendedor" />
            </div>
            <div>
                <label for="Senha">Senha:</label>
                <input class="form-control" type="text" name="Senha" value="@Model.VendedorIndividual.Senha" />
            </div>
            <div>
                <label for="Ativo" class="toggle-label">Ativo</label>
                <div class="toggle-switch">
                    <input type="checkbox" id="Ativo" name="Ativo"
                    @(Model.VendedorIndividual.Ativo ? "checked" : "") />
                </div>
            </div>
                <input class="form-control" type="hidden" name="Senha" value="@Model.VendedorIndividual.IdVendedor" />
            <br />
            <div>
                <label>&nbsp;</label>
                <input class="btn-primary submit rounded" type="submit" value="Submit" />
            </div>
            <br />
        </fieldset>
    </form>
 }